extends layout

block content
  h1 Index
  p Welcome to #{userName}
  a(href= '/random') Show random Joke
  br
  a(href= '/jokes') Show all jokes
  br
  a(href= '/addJoke') Add new joke
  br
  p *** This site uses cookies