extends layout

block content

    h1 LOGIN
    form(name="login", method ="post")
        div.input
            p Username
            input(type="text", name="userName" )
            input(type='submit', value='Submit')
