extends layout

block content

    h1 LOGIN
    form(name="add", method ="post")
        div.input
            p Username
            input(type="text", name="login" )
            input(type='submit', value='Submit')
